### Домашнее задание «Библиотека pandas»

In [1]:
import pandas as pd

#### Задание 1
Скачайте с сайта (https://grouplens.org/datasets/movielens/) датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [14]:
rating = pd.read_csv('D://ml-25m/ml-25m/ratings.csv')
movies = pd.read_csv('D://ml-25m/ml-25m/movies.csv')
rating.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [68]:
# преобразование в df и присвоение новых имен колонкам
top = pd.DataFrame(rating['movieId'][rating.rating== 5.0].value_counts().head(1)).reset_index()
top.columns = ['movieId', 'counts']

In [78]:
movies.title[movies.movieId == int(top['movieId'])].to_string(index=False)

'Shawshank Redemption, The (1994)'

#### Задание 2
По данным файла *power.csv* посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

In [99]:
power = pd.read_csv('D://power.csv')

In [82]:
power.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   country   1189482 non-null  object
 1   year      1189482 non-null  int64
 2   quantity  1189482 non-null  float64
 3   category  1189482 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

In [103]:
power[['country','quantity']][(power.quantity >=0) & (power.category.isin([4,12,21])) & (power.year.isin(range(2005,2011))) & (power.country.isin(['Latvia','Lithuania','Estonia']))].groupby('country').sum()

           quantity
country
Estonia     63440.0
Latvia      54844.0
Lithuania  122296.0

#### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame. Вы можете взять любые страницы.

Примеры страниц:
- https://fortrader.org/quotes
- https://pythonworld.ru/tipy-dannyx-v-python/stroki-funkcii-i-metody-strok.html

In [93]:
get_info = pd.read_html('https://fortrader.org/quotes')[0]

In [94]:
get_info

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  91.24        0.0           0.0        NaN
1       USDRUB Курс рубля к доллару  83.91        0.0           0.0        NaN